@import '../../scss/variables';

.isl-tile {
  background-color: $water-dark-color;
  border-right: 1px solid $water-border-color;
  border-bottom: 1px solid $water-border-color;
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 100%;
  &:hover {
    background-color: $water-color;
    transition: all 0.12s;
  }
  &--land {
    background-color: $land-color;
    border-right: 1px solid $land-color;
    border-bottom: 1px solid $land-color;
    &:hover {
      background: $land-light-color;
    }
  }
}
