<div class="isl-controls">
  <form [formGroup]="controlsForm"
        (ngSubmit)="onGenerateWorld()">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Rows</label>
        <input type="number"
               class="form-control"
               formControlName="rows"
               placeholder="Rows">
      </div>
      <div class="form-group col-md-6">
        <label>Columns</label>
        <input type="number"
               class="form-control"
               formControlName="cols"
               placeholder="Columns">
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-3 mb-4">
        <button class="btn btn-primary retro-font">
          Generate world!
        </button>
      </div>
    </div>
  </form>
</div>
